Repository dkdace/dmgr-server, pull requests merged in 2022-10, with the labels that each got.

#21 Feature/MMR 및 랭크 점수 기능 함수 추가
  src/main/java/com/dace/dmgr/lobby/User.java
  src/main/java/com/kiwi/dmgr/match/MatchMaking.java
  src/main/java/com/kiwi/dmgr/match/MatchQueue.java
  src/main/java/com/kiwi/dmgr/match/RankRating.java
Labels: ➕ Feature/System

#26 Feature/테스트용 코드 추가
  src/main/java/com/dace/dmgr/DMGR.java
Labels: 🧪 Test

#28 Feature/전투원 '아케이스' 추가
  pom.xml
  src/main/java/com/dace/dmgr/DMGR.java
  src/main/java/com/dace/dmgr/admin/Admin.java
  src/main/java/com/dace/dmgr/combat/Bullet.java
  src/main/java/com/dace/dmgr/combat/Combat.java
  src/main/java/com/dace/dmgr/combat/CombatTick.java
  src/main/java/com/dace/dmgr/combat/CombatUtil.java
  src/main/java/com/dace/dmgr/combat/Hitscan.java
  src/main/java/com/dace/dmgr/combat/Projectile.java
  src/main/java/com/dace/dmgr/combat/action/HasDuration.java
  src/main/java/com/dace/dmgr/combat/action/Reloadable.java
  src/main/java/com/dace/dmgr/combat/action/Skill.java
  src/main/java/com/dace/dmgr/combat/action/SkillController.java
  src/main/java/com/dace/dmgr/combat/action/UltimateSkill.java
  src/main/java/com/dace/dmgr/combat/action/Weapon.java
  src/main/java/com/dace/dmgr/combat/action/WeaponController.java
  src/main/java/com/dace/dmgr/combat/character/arkace/Arkace.java
  src/main/java/com/dace/dmgr/combat/character/arkace/action/ArkaceA1.java
  src/main/java/com/dace/dmgr/combat/character/arkace/action/ArkaceA2.java
  src/main/java/com/dace/dmgr/combat/character/arkace/action/ArkaceA3.java
  src/main/java/com/dace/dmgr/combat/character/arkace/action/ArkaceP1.java
  src/main/java/com/dace/dmgr/combat/character/arkace/action/ArkaceUlt.java
  src/main/java/com/dace/dmgr/combat/character/arkace/action/ArkaceWeapon.java
  src/main/java/com/dace/dmgr/combat/entity/CombatEntity.java
  src/main/java/com/dace/dmgr/combat/entity/CombatUser.java
  src/main/java/com/dace/dmgr/combat/entity/Hitbox.java
  src/main/java/com/dace/dmgr/combat/entity/ICombatEntity.java
  src/main/java/com/dace/dmgr/combat/entity/TemporalEntity.java
  src/main/java/com/dace/dmgr/combat/event/listener/OnCombatUserAction.java
  src/main/java/com/dace/dmgr/event/MainEventManager.java
  src/main/java/com/dace/dmgr/event/listener/OnAsyncPlayerChat.java
  src/main/java/com/dace/dmgr/event/listener/OnEntityDeath.java
  src/main/java/com/dace/dmgr/event/listener/OnPlayerDropItem.java
  src/main/java/com/dace/dmgr/event/listener/OnPlayerJoin.java
  src/main/java/com/dace/dmgr/event/listener/OnPlayerQuit.java
  src/main/java/com/dace/dmgr/event/listener/OnWeaponPreShoot.java
  src/main/java/com/dace/dmgr/event/listener/OnWeaponPrepareShoot.java
  src/main/java/com/dace/dmgr/gui/menu/event/ChatSoundMenuEvent.java
  src/main/java/com/dace/dmgr/gui/menu/event/MenuEvent.java
  src/main/java/com/dace/dmgr/lobby/Lobby.java
  src/main/java/com/dace/dmgr/lobby/User.java
  src/main/java/com/dace/dmgr/system/Cooldown.java
  src/main/java/com/dace/dmgr/system/CooldownManager.java
  src/main/java/com/dace/dmgr/system/PacketListener.java
  src/main/java/com/dace/dmgr/system/TextIcon.java
  src/main/java/com/dace/dmgr/system/task/TaskTimer.java
  src/main/java/com/dace/dmgr/system/task/TaskWait.java
  src/main/java/com/dace/dmgr/util/LocationUtil.java
  src/main/java/com/dace/dmgr/util/ParticleUtil.java
  src/main/java/com/dace/dmgr/util/SoundUtil.java
  src/main/java/com/dace/dmgr/util/StringUtil.java
  src/main/java/com/dace/dmgr/util/VectorUtil.java
  src/main/resources/plugin.yml
Labels: ➕ Feature/Character

#30 Feature/전투 시스템 - III
  src/main/java/com/dace/dmgr/DMGR.java
  src/main/java/com/dace/dmgr/combat/Combat.java
  src/main/java/com/dace/dmgr/combat/CombatTick.java
  src/main/java/com/dace/dmgr/combat/Hitscan.java
  src/main/java/com/dace/dmgr/combat/Projectile.java
  src/main/java/com/dace/dmgr/combat/action/ActionKey.java
  src/main/java/com/dace/dmgr/combat/action/Skill.java
  src/main/java/com/dace/dmgr/combat/action/SkillController.java
  src/main/java/com/dace/dmgr/combat/action/Weapon.java
  src/main/java/com/dace/dmgr/combat/action/WeaponController.java
  src/main/java/com/dace/dmgr/combat/character/arkace/Arkace.java
  src/main/java/com/dace/dmgr/combat/character/arkace/action/ArkaceA1.java
  src/main/java/com/dace/dmgr/combat/character/arkace/action/ArkaceA2.java
  src/main/java/com/dace/dmgr/combat/character/arkace/action/ArkaceP1.java
  src/main/java/com/dace/dmgr/combat/character/arkace/action/ArkaceUlt.java
  src/main/java/com/dace/dmgr/combat/character/arkace/action/ArkaceWeapon.java
  src/main/java/com/dace/dmgr/combat/entity/CombatEntity.java
  src/main/java/com/dace/dmgr/combat/entity/CombatUser.java
  src/main/java/com/dace/dmgr/combat/entity/Dummy.java
  src/main/java/com/dace/dmgr/combat/entity/Hitbox.java
  src/main/java/com/dace/dmgr/combat/entity/ICombatEntity.java
  src/main/java/com/dace/dmgr/combat/entity/TemporalEntity.java
  src/main/java/com/dace/dmgr/combat/event/CombatUserEvent.java
  src/main/java/com/dace/dmgr/combat/event/combatuser/CombatUserActionEvent.java
  src/main/java/com/dace/dmgr/combat/event/listener/OnCombatUserAction.java
  src/main/java/com/dace/dmgr/event/EventManager.java
  src/main/java/com/dace/dmgr/event/MainEventManager.java
  src/main/java/com/dace/dmgr/event/listener/OnPlayClientArmAnimation.java
  src/main/java/com/dace/dmgr/event/listener/OnPlayServerUpdateHealth.java
  src/main/java/com/dace/dmgr/event/listener/OnPlayerArmorStandManipulate.java
  src/main/java/com/dace/dmgr/event/listener/OnPlayerJoin.java
  src/main/java/com/dace/dmgr/event/listener/OnPlayerQuit.java
  src/main/java/com/dace/dmgr/event/listener/OnWeaponPrepareShoot.java
  src/main/java/com/dace/dmgr/system/PacketListener.java
  src/main/java/com/dace/dmgr/util/LocationUtil.java
  src/main/java/com/dace/dmgr/util/ParticleUtil.java
  src/main/java/com/dace/dmgr/util/VectorUtil.java
Labels: ➕ Feature/System, 🛠 Refactoring
